{% extends "dashboard/base.html" %}
{% block content %}

<div class="container">
    <!-- Canvas object to display plot -->
    <canvas id="myChart" width="`100" height="250" aria-label="Covid-19 plot" role="img">
        <p>Covid-19 plot</p>
    </canvas>
</div>

<script>

function Get(url){
    // Get JSON object from url
    var Httpreq = new XMLHttpRequest(); 
    Httpreq.open("GET",url,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
}

var json_obj = JSON.parse(Get('api/records/'));
console.log(json_obj)

var s = Object.keys(json_obj).length;
var data_length = Math.min(s, 30); // Get 30 data point if there exits that many

var dates = []
var num_imported = []
var num_dormitories = []
var num_community = []

for (var i = 0; i < data_length; i++){
    dates.push(json_obj[i]['date'])
    num_imported.push(json_obj[i]['num_imported'])
    num_dormitories.push(json_obj[i]['num_dormitories'])
    num_community.push(json_obj[i]['num_community'])
}

// Return with commas in between
var numberWithCommas = function(x) {
return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [{
            label: 'No. of cases from community',
            data: num_community,
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
        },
        {
            label: 'No. of cases from dormitories',
            data: num_dormitories,
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
        },
        {
            label: 'No. of imported cases',
            data: num_imported,
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Daily COVID-19 cases in Singapore for the last 30 days',
            fontSize: 30
            
        },
        legend: {
            display: true,
            labels: {
                fontColor: 'rgba(0, 0, 0, 1)',
                fontSize: 20
            }
        },
        animation: {
        	duration: 1500,
        },
        tooltips: {
			mode: 'label',
            callbacks: {
            label: function(tooltipItem, data) { 
                return data.datasets[tooltipItem.datasetIndex].label + ": " + numberWithCommas(tooltipItem.yLabel);
            }
          }
         },
        scales: {
            xAxes: [{
                stacked: true,
                ticks: {
                    fontColor: 'rgba(0, 0, 0, 1)',
                    fontSize: 15
                }
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero: true,
                    fontColor: 'rgba(0, 0, 0, 1)',
                    fontSize: 25
                }
            }]
        }
    }
});
</script>
    
{% endblock content %}
